
	<div class="panel-body">
		<div class="col-md-12">
			<h3>Labels</h3>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="New Label...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Create</button>
				</span>
			</div>
			<div class="panel panel-primary">
				<div class="panel-body">
                    <ul class="todo-labels">
                    	<li>All Items <span class="badge">14</span></li>
                    	<li>Task <span class="badge">3</span></li>
                    	<li>Work <span class="badge">11</span></li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
